{% extends 'index.tmpl' %}

{% block content %}
    <h3>Мы оказываем следующие услуги:</h3>

    <table class="table table-bordered table-hover">
        <thead>
            <th>#</th>
            <th>Наименование услуги</th>
            <th>Описание</th>
            <th>Цена</th>
        </thead>
        <tbody>
            {% for i in model %}
                {% include 'tservice.tmpl' %}
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}