{% import 'libmacro.tmpl' as lib %}

<tr>
     <td>{{ i.id }}</td>
     <td>{{ i.name }}</td>
     <td>{{ i.productSummary | raw }}</td>
     <td>{{ i.description[:15] }}</td>
     <td>{{ i.price }}</td>
     <td>{{ i.date | date('y') }}</td>
     <td>{{ lib.list(tags) }}</td>
 </tr>